body, div, dl, dt, dd, ol, ul, li,h1, h2, h3, h4, h5, h6,pre,form,img, p,tr, th, td {
    margin: 0;
    padding: 0;
}

a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

body{ background: #efefef;}

/******** 公共 *********/
.dis_lib { display: inline-block; }
.aaa{ display: block; }
.cf { clear: both; }
.fl { float: left; }
.fr { float: right; }
.mt10 { margin-top: 30px; }
.padding { padding: 10px 20px 5px 20px; }
.fs20 { font-size: 20px; line-height: 20px; }
.fs18 { font-size: 18px; line-height: 18px; }
.fs16 { font-size: 16px; line-height: 16px; }
.fs15 { font-size: 15px; line-height: 15px; }
.color_72 { color: #727272;}
.color_red { color: red; }
.color_green { color: limegreen; }
.color_blue { color: #29a0f6 } /*#3b71af*/
.h20 { height: 20px; }
.border_t { border-top-style:solid; border-width: .6px; border-color: #cfcfcf; }


/********* 充电助手 ********/
.btn_left { margin:5px 0px 10px 30px;  width: 40%; height: 40px; font-size: 16px; line-height: 40px; }
.btn_right { margin: 5px 30px 10px 0px; width: 40%; height: 40px; font-size: 16px; line-height: 40px; }

.content_ops_bg { margin: 0 0 10px 0; padding: 15px 20px 10px 20px; background-color: white; height: 80px; position: relative; }
.content_ops_build { width: 18px; height: 20px; background-color: lightgray; border-radius: 5px;
    font-size: 12px; line-height: 20px; padding: 0px 0px 0px 5px; margin-top: -1px; margin-right: 10px; }
.content_ops_in { position: absolute; right: 0px; top: 0px; width: 45px; height: 40px; }
.content_ops_title { font-size: 18px; line-height: 18px; color: #333333; }
.content_ops_state { font-size: 18px; line-height: 18px; color: red; }
.content_ops_admin { font-size: 16px; line-height: 16px; color: #333333; padding: 10px 0 10px 0; }
.content_ops_icon { width: 20px; height: 20px; }
.content_ops_num { font-size: 18px; line-height: 18px; }


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
