/*
* 充电方式选择界面
*/
.title {
    color: #333333;
    font-size: 1.6rem;
    line-height: 4.5rem;
    /*IE5.5  将对象呈递为内联对象，但是对象的内容作为块对象呈递。旁边的内联对象会被呈递在同一行内 */
    display: inline-block;
    text-align: center;
}

.background_df {
    background: #dfdfdf;
}

.background_while {
    background: #ffffff;
}

.title_cell {
    height: 80px;
    background: #f5f5f5;
    text-align: center;
    position: relative;
    border-bottom: 1px #d8d8d8 solid;
    font-size: 20px;
}

.fr {
    float: right;
}

.btn_close {
    /*将对象从文档流中拖出，使用 left ， right ， top ， bottom
               等属性相对于其最接近的一个最有定位设置的父对象进行绝对定位。*/
    position: absolute;
    /*由浮点数字和单位标识符组成的长度值 | 百分数。
            必须定义 position 属性值为 absolute 或者 relative 此取值方可生效。请参阅 长度单位 。 */
    right: 3%;
    line-height: 80px;
    font-size: 20px;
}

.p1 {
    padding: 10px;
}

.hg25 {
    line-height: 40px;
}

.f_s_14 {
    font-size: 20px;
}

.f_s_12 {
    font-size: 16px;
}

.bb_d8 {
    border-bottom: 1px dashed #d8d8d8;
}

.p20 {
    padding: 20px;
}

.f_w_700 {
    font-weight: 700;
}

.t_a_c {
    text-align: center;
}

.mb_08 {
    margin-bottom: 16px;
}

.m00_a {
    margin: 0 auto;
}

.m00_a p {
    width: 50%;
    text-align: right;
    display: inline-block;
}

.color_33 {
    color: #333333;
}

.color_99 {
    color: #999999;
}

.mt_10 {
    margin-top: 20px;
}

.fl {
    float: left;
}

.money_icon {
    background: url(../../images/moneyhui_icon.png);
    margin-top: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.w_55 {
    width: 55%;
}

.d_i_b {
    display: inline-block;
}

.l_h_25 {
    line-height: 40px;
}

.m_l_7p {
    margin-left: 10%;
}

.mb_40 {
    margin-bottom: 80px;
}

.phone_btn {
    background: url(../../images/phone_btn.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    display: inline-block;
}

.charging_start_btn {
    background: #009ad5;
    height: 100px;
    /*未支持。对象定位遵从绝对(absolute)方式。但是要遵守一些规范 */
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    font-size: 38px;
    line-height: 100px;
}

.m_r_15 {
    margin-right: 30px;
}

.sg {
    height: 20px;
    width: 1px;
    background: #d8d8d8;
    margin-left: 10px;
    margin-top: 18px;
    display: inline-block;
    margin-right: 40px;
    float: right;
}

.color_45 {
    color: #454545;
}






